<div class="space-y-4">
  <%= render name_field %>
  <%= render street_address_field %>
  <div class="grid grid-cols-2 gap-4">
    <%= render city_field %>
    <%= render state_field %>
  </div>
  <div class="grid grid-cols-2 gap-4">
    <%= render zip_field %>
    <%= render country_field %>
  </div>
</div>
