<div class="space-y-2">
  <p class="text-sm font-semibold text-forest-900"><%= @label %></p>
  <% if @readonly %>
    <p class="text-sm text-forest-900"><%= @selected.present? ? @selected.humanize : "None" %></p>
  <% else %>
    <div class="space-y-2">
      <% if @include_none_option %>
        <label class="flex items-center gap-2 text-sm text-forest-900" for="<%= id_prefix %>_none">
          <input type="radio"
                 name="<%= @name %>"
                 id="<%= id_prefix %>_none"
                 value=""
                 <%= "checked" if @selected.blank? %>
                 required
                 <%= @input_data_attr %>>
          None
        </label>
      <% end %>
      <% @options.each do |option| %>
        <% value, option_label = Array(option) %>
        <% option_label ||= value.humanize %>
        <label class="flex items-center gap-2 text-sm text-forest-900" for="<%= "#{id_prefix}_#{value}" %>">
          <input type="radio"
                 name="<%= @name %>"
                 id="<%= "#{id_prefix}_#{value}" %>"
                 value="<%= value %>"
                 <%= "checked" if @selected == value %>
                 required
                 <%= @input_data_attr %>>
          <%= option_label %>
        </label>
      <% end %>
    </div>
  <% end %>
</div>
