<div>
  <% if @readonly %>
    <p class="block text-sm font-semibold text-forest-900"><%= @label %></p>
    <p class="mt-2 text-sm text-forest-900"><%= displayed_label %></p>
  <% elsif single_option? %>
    <%= @form.hidden_field @field, value: @options.first.last %>
  <% else %>
    <%= @form.label @field, @label, class: "block text-sm font-semibold text-forest-900" %>
    <%= @form.select @field, options_for_select(@options, @selected), {}, {class: "mt-2 w-full rounded-lg border border-forest-900/20 bg-white px-3 py-2 text-sm text-forest-900"} %>
  <% end %>
</div>
