<div class="space-y-5">
  <%= render RideRequestMutate::StepHeaderComponent.new(
    step: 1, total_steps: @total_steps,
    title: "Public Information",
    description: RideRequestMutate::StepHeaderComponent::PUBLIC_DESCRIPTION,
  ) %>

  <%= render organization_field %>

  <%= render short_description_field %>

  <%= render ride_date_field %>

  <%= render driver_count_field %>

  <%= render driver_gender_field %>

  <%= render appointment_time_field %>
</div>
