<% editable = user_edit_allowed?(user) %>
<tr class="border-b border-forest-900/10 align-top <%= "cursor-pointer transition hover:opacity-85 active:opacity-70" if editable %>"
    data-user-id="<%= user.id %>">
  <td class="px-3 py-3 text-forest-900">
    <% if editable %>
      <%= link_to edit_user_path(id: user.id), class: "block" do %>
        <span><%= user.human.full_name %></span>
      <% end %>
    <% else %>
      <span><%= user.human.full_name %></span>
    <% end %>
  </td>
  <td class="px-3 py-3">
    <% if editable %>
      <%= link_to edit_user_path(id: user.id), class: "block" do %>
        <div class="flex flex-wrap gap-2">
          <% user.user_roles.each do |user_role| %>
            <span class="rounded-full bg-moss-200/50 px-3 py-1 text-xs font-semibold uppercase tracking-wide text-forest-900" data-role-pill><%= user_role.pill_label %></span>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div class="flex flex-wrap gap-2">
        <% user.user_roles.each do |user_role| %>
          <span class="rounded-full bg-moss-200/50 px-3 py-1 text-xs font-semibold uppercase tracking-wide text-forest-900" data-role-pill><%= user_role.pill_label %></span>
        <% end %>
      </div>
    <% end %>
  </td>
  <td class="px-3 py-3 text-right text-forest-900">
    <% if editable %>
      <%= link_to edit_user_path(id: user.id), class: "inline-flex items-center" do %>
        <i class="fa-solid fa-pen-to-square text-forest-900/70"></i>
      <% end %>
    <% else %>
      <i class="fa-solid fa-lock text-forest-900/50"></i>
    <% end %>
  </td>
</tr>
